.header{
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: azure;
}
.title {

}

.header-btn {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.login, .sign-up, .logout{
  text-decoration: none;
  line-height: 32px;
  border: 1px solid black;
  padding: 10px;
  margin-right: 3vw;
  color: black;
}

.wrapper {
  width: 60vw;
  margin: 0 auto;
  display: flex;
}
.side-bar {
  width: 20%;
  background-color: black;
}
.room {
  color: white;
}
.input {
  list-style: none;
}
.top-link {
  text-decoration: none;
}